* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

h1,
h2 {
  margin: 0;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
}

h1 {
  font-size: 30px;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  font-size: 28px;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 32px;
  }
}

@media only screen and (min-width: 992px) {
  .flex {
    display: flex;
    gap: 70px;
  }
}

.container {
  width: 80%;
  max-width: 960px;
  margin-inline: auto;
}

.section-heading {
  margin-bottom: 40px;
}

.button {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  border: 2px solid;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
}

.button-primary {
  color: #6608c5;
  border-color: #6608c5;
}
.button-primary:hover {
  color: #fff;
  background-color: #6608c5;
  transition: all 0.2s ease-in-out;
}

.button-secondary {
  color: #fff;
  border-color: #fff;
}
.button-secondary:hover {
  color: #6608c5;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}

.button-tertiary {
  color: #fff;
  background-color: #6608c5;
  border-color: #6608c5;
}
.button-tertiary:hover {
  color: #6608c5;
  background-color: #fff;
  border-color: #6608c5;
  transition: all 0.2s ease-in-out;
}

.header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  text-align: center;
}

.header-title {
  color: #002324;
  margin-bottom: 40px;
}

.header-title span {
  color: #6608c5;
}

.header .button {
  padding: 10px 20px;
}

.about {
  position: relative;
  padding-block: 50px;
  background-color: #6608c5;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .about {
    height: 100vh;
  }
}
.about::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100px;
  background-color: #6608c5;
  clip-path: polygon(100% 0, 0 0, 0 100%);
}

.about-content {
  margin-bottom: 50px;
}

.about-img {
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  object-fit: cover;
}

.about-text a {
  margin-top: 1rem;
}

.about-quote {
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
}

blockquote {
  margin: 0;
}

.about-quote__cite {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
}

.projects {
  padding-block: 150px;
}

.projects-article {
  margin-bottom: 50px;
}

.projects-content a {
  margin: 0 20px 20px 0;
}

.projects-img {
  width: 100%;
  max-width: 450px;
}

.contact {
  position: relative;
  padding: 50px 0 100px 0;
  background-color: #6608c5;
  color: #fff;
}

.contact a {
  margin-inline: auto;
  text-align: center;
}
.contact::before {
  content: "";
  position: absolute;
  top: -100px;
  width: 100%;
  height: 100px;
  background-color: #6608c5;
  clip-path: polygon(100% 100%, 100% 0, 0 100%);
}

.contact-button-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.footer {
  padding-block: 50px;
  display: flex;
  background-color: #002324;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.social-container {
  display: flex;
  justify-content: center;
}

.footer-social {
  display: flex;
  gap: 20px;
}

.social-item {
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
}

.social-link {
  display: block;
  width: 30px;
  height: 30px;
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.github {
  background-image: url(../../assets/icons/icon-github.png);
  background-size: 35px;
}

.linkedin {
  background-image: url(../../assets/icons/icon-linkedin.png);
}

.twitter {
  background-image: url(../../assets/icons/icon-twitter.png);
}

.youtube {
  background-image: url(../../assets/icons/icon-youtube.png);
}

/*# sourceMappingURL=index.css.map */
