:root {
  --color-text-primary: #002324;
  --color-text-secondary: #fff;
  --color-primary: #6608c5;
}

/* styles resets */

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

h1,
h2 {
  margin: 0;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

.section-heading {
  margin-bottom: 40px;
}

/* reusable classes */

@media only screen and (min-width: 992px) {
  .flex {
    display: flex;
    gap: 70px;
  }
}

.container {
  width: 80%;
  max-width: 960px;
  margin-inline: auto;
}

.button {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  border: 2px solid;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
}

.button-primary {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.button-primary:hover {
  color: var(--color-text-secondary);
  background-color: var(--color-primary);
  transition: all 0.2s ease-in-out;
}

.button-secondary {
  color: var(--color-text-secondary);
  border-color: var(--color-text-secondary);
}

.button-secondary:hover {
  color: var(--color-primary);
  background-color: var(--color-text-secondary);
  transition: all 0.2s ease-in-out;
}

.button-tertiary {
  color: var(--color-text-secondary);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.button-tertiary:hover {
  color: var(--color-primary);
  background-color: var(--color-text-secondary);
  border-color: var(--color-primary);
  transition: all 0.2s ease-in-out;
}

/* homepage styles */
.header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  text-align: center;
}

.header-title {
  color: var(--color-text-primary);
  margin-bottom: 40px;
}

.header-title span {
  color: var(--color-primary);
}

.header .button {
  padding: 10px 20px;
}

.about {
  height: 100vh;
  padding-block: 50px;
  background-color: var(--color-primary);
  color: var(--color-text-secondary);
}

.about-content {
  margin-bottom: 50px;
}

.about-img {
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  object-fit: cover;
}

.about-text a {
  margin-top: 1rem;
}

.about-quote {
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
}

blockquote {
  margin: 0;
}

.about-quote__cite {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
}

.projects {
  padding-block: 50px;
}

.projects-article {
}

.projects-img {
  width: 100%;
  max-width: 450px;
}

.footer {
  background-color: black;
}

.footer-social {
  display: flex;
}

.social-link {
  width: 35px;
  aspect-ratio: 1;
  display: inline-block;
  border-radius: 50%;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-text-secondary);
}

.github {
  background-image: url(../../assets/icons/icon-github.png);
  background-size: 35px;
}

.linkedin {
  background-image: url(../../assets/icons/icon-linkedin.png);
}

.twitter {
  background-image: url(../../assets/icons/icon-twitter.png);
}

.youtube {
  background-image: url(../../assets/icons/icon-youtube.png);
}

/* desktop */

/* @media only screen and (min-width: 768px) {
} */
