h1,
h2 {
  margin: 0;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
}

h1 {
  font-size: 30px;

  @media only screen and (min-width: 768px) {
    font-size: 48px;
  }
}

h2 {
  font-size: 28px;

  @media only screen and (min-width: 768px) {
    font-size: 32px;
  }
}
